<!-- This script got from frontendfreecode.com -->
<div class="p-5 m-md-5 justify-content-center">
  <div class="form-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-offset-3 col-lg-12 col-md-offset-3 col-md-12">
          <div class="form-container">
            <div class="form-icon justify-content-center align-content-center ">
              <i class="fa fa-user-circle"></i>
              <strong style=" font-size: 23px">
                Inscrivez-vous maintenant et commencez à soutenir les causes qui vous tiennent à cœur.
              </strong>
              <img src="assets/heart-rate.png" style="width: 60%;">
            </div>

            <form class="form-horizontal">
              <h3 class="title">Member Inscription</h3>
              <div class="form-group">
                <span class="input-icon"><i class="fa fa-envelope"></i></span>
                <input class="form-control" type="text" placeholder="Sensor ID" />
              </div>
              <div class="form-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="text" placeholder="Nom" />
              </div>
              <div class="form-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="text" placeholder="Prenom" />
              </div>
              <div class="form-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="form-control text-black" type="text" placeholder="Age" />
              </div>
              <div class="form-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="tel" placeholder="Telephone" />
              </div>
              <div class="form-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="email" placeholder="Email" />
              </div>
              <div class="form-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="password" placeholder="Mot de passe " />
              </div>
              <div class="form-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="text" placeholder="Adresse " />
              </div>
              <button class="btn signin" type="button">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


