<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="heart"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">Moyenne Rate</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="wieght"></fa-icon>
    </div>
    <div class="value">
      <div class="top">295</div>
      <div class="bottom">KG</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="heartch"></fa-icon>
    </div>
    <div class="value">
      <div class="top">45784</div>
      <div class="bottom">NB° Anomaly</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <fa-icon [icon]="age"></fa-icon>
    </div>
    <div class="value">
      <div class="top">346928</div>
      <div class="bottom">Age</div>
    </div>
  </div>
</div>
