<div class="widget-container row justify-content-center p-4">
  <strong><div class="title p-4">This is your statistics for the last 30 minutes </div></strong>
  <!-- Row 1: 3 Widgets -->
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="heart"></fa-icon>
      </div>
      <div class="value">
        <div class="top">32</div>
        <div class="bottom">Moyenne Rate</div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="widget orange">
      <div class="icon">
        <fa-icon [icon]="heart_max"></fa-icon>
      </div>
      <div class="value">
        <div class="top">295</div>
        <div class="bottom">Max Rate</div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="heart_min"></fa-icon>
      </div>
      <div class="value">
        <div class="top">45784</div>
        <div class="bottom">Min Rate</div>
      </div>
    </div>
  </div>

  <!-- Row 2: 3 Widgets -->
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="heartch"></fa-icon>
      </div>
      <div class="value">
        <div class="top">346928</div>
        <div class="bottom">NB° Anomaly</div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="widget ceil">
      <div class="icon">
        <fa-icon [icon]="age"></fa-icon>
      </div>
      <div class="value">
        <div class="top">45</div>
        <div class="bottom">Age</div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="wieght"></fa-icon>
      </div>
      <div class="value">
        <div class="top">320</div>
        <div class="bottom">KG</div>
      </div>
    </div>
  </div>
</div>
