<div class="p-5 m-md-5 justify-content-center">
  <div class="form-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-offset-3 col-lg-12 col-md-offset-3 col-md-12">
          <div class="form-container">
            <div class="form-icon justify-content-center align-content-center">
              <i class="fa fa-user-circle"></i>
              <strong style="font-size: 23px">
                Bienvenue à nouveau! Connectez-vous pour accéder à votre compte. <br>
                <img src="assets/better-health.png" style="width: 50%;">
              </strong>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal p-5" style="margin-top: 6rem">
              <h3 class="title">Member Login</h3>

              <div class="form-group">
                <span class="input-icon"><i class="fa fa-envelope"></i></span>
                <input class="form-control" formControlName="email" type="email" placeholder="Email Address" />
                <div *ngIf="formControls['email'].invalid && formControls['email'].touched" class="error-message">
                  Please enter a valid email.
                </div>
              </div>

              <div class="form-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input class="form-control" formControlName="password" type="password" placeholder="Password" />
                <div *ngIf="formControls['password'].invalid && formControls['password'].touched" class="error-message">
                  Password must be at least 6 characters.
                </div>
              </div>

              <button class="btn signin" type="submit" [disabled]="loginForm.invalid">Login</button>

              <span class="forgot-pass"><a type="Button" (click)="openEmailModal()">Forgot Username/Password?</a></span>
              <span class="forgot-pass text-black" style="text-decoration: none; font-size: 14px;">Pas encore inscrit?  <a class="text-danger" style="font-size: 14px;" [routerLink]="['/Inscreption']">Créer un compte</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal for Forgot Password -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': emailModalOpen}" [hidden]="!emailModalOpen" (click)="closeModal('emailModal')">
  <div class="modal-dialog modal-lg" role="document" (click)="$event.stopPropagation()">
    <div class="modal-content custom-modal">
      <div class="modal-header ">
        <h5 class="modal-title ">Forgot Password</h5>
        <fa-icon [icon]="user" class="mr-2 p-1" style="font-size: 30px;"> </fa-icon>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="sendCode()">
          <div class="form-group">
            <label for="email">Enter your email address</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required placeholder="you@example.com">
          </div>
          <div class="p-1">
            <div class="d-grid p-1">
              <button type="button" class="btn btn-secondary btn-block" (click)="closeModal('emailModal')">Close</button>
            </div>
            <div class="d-grid p-1">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!email">Send Verification Code</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Entering Verification Code -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': codeModalOpen}" [hidden]="!codeModalOpen" (click)="closeModal('codeModal')">
  <div class="modal-dialog modal-lg" role="document" (click)="$event.stopPropagation()">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title">Enter Verification Code</h5>
        <fa-icon [icon]="user" class="mr-2 p-1" style="font-size: 30px;"> </fa-icon>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="verifyCode()">
          <div class="form-group">
            <label for="verificationCode">Verification Code</label>
            <input type="text" class="form-control" id="verificationCode" [(ngModel)]="verificationCode" name="verificationCode" required placeholder="verification Code">
          </div>
          <div class="p-1">
            <div class="d-grid p-1">
              <button type="button" class="btn btn-secondary btn-block" (click)="closeModal('codeModal')">Close</button>
            </div>
            <div class="d-grid p-1">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!verificationCode">Verify Code</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for New Password -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': newPasswordModalOpen}" [hidden]="!newPasswordModalOpen" (click)="closeModal('newPasswordModal')">
  <div class="modal-dialog modal-lg" role="document" (click)="$event.stopPropagation()">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title">Create New Password</h5>
        <fa-icon [icon]="user" class="mr-2 p-1" style="font-size: 30px;"> </fa-icon>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createNewPassword()">
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required minlength="6" placeholder="Create a new password">
            <small class="form-text text-muted">Password must be at least 6 characters long.</small>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required minlength="6" placeholder="Confirm your new password">
          </div>
          <div class="p-1">
            <div class="d-grid p-1">
              <button type="button" class="btn btn-secondary btn-block" (click)="closeModal('newPasswordModal')">Close</button>
            </div>
            <div class="d-grid p-1">
              <button type="submit" class="btn btn-success btn-block" [disabled]="newPassword !== confirmPassword || newPassword.length < 6 || confirmPassword.length < 6">
                Create New Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




