<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <h6>Bienvenue sur HeartSense</h6>
              <h2>Surveillez <em>votre cœur</em> &amp; restez <span>protégé</span> </h2>
              <p>HeartSense est une plateforme web intuitive et sécurisée dédiée à la surveillance de votre rythme cardiaque.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="assets/ekg-monitor.png" class="w-75" alt="team meeting">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <img src="assets/about-left-image.png" alt="person graphic">
        </div>
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="services">
          <div class="row">
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="icon">
                  <img src="assets/24h.png" alt="reporting">
                </div>
                <div class="right-text">
                  <h4>Surveillance en temps réel</h4>
                  <p>Suivi constant du rythme cardiaque grâce à une connexion avec un dispositif de mesure</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                <div class="icon">
                  <img src="assets/detection.png" alt="">
                </div>
                <div class="right-text">
                  <h4>Détection d'anomalies</h4>
                  <p> utilise des algorithmes avancés pour identifier les anomalies.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                <div class="icon">
                  <img src="assets/danger.png" alt="">
                </div>
                <div class="right-text">
                  <h4>Alertes instantanées</h4>
                  <p>En cas d'anomalie, l'utilisateur reçoit une notification instantanée via email ou SMS.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                <div class="icon">
                  <img src="assets/monitor.png" alt="">
                </div>
                <div class="right-text">
                  <h4>Tableau de bord intuitif</h4>
                  <p>Présentant une analyse des données cardiaques à l'aide de graphiques simples et accessibles.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services" class="our-services section p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="left-image">
          <img src="assets/heart-attack.png" class="w-75" alt="">
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="section-heading">
          <h2>Optimisez votre santé cardiaque avec nos services de suivi &amp; conseils personnalisés</h2>
          <p>Notre plateforme vous offre un suivi détaillé de votre rythme cardiaque, accompagné de rapports et de conseils pour améliorer votre bien-être. Grâce à des technologies avancées, vous pouvez surveiller votre santé en toute sécurité.</p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="first-bar progress-skill-bar">
              <h4>Analyse du rythme cardiaque</h4>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="second-bar progress-skill-bar">
              <h4>Rapports de santé cardiaque</h4>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="third-bar progress-skill-bar">
              <h4>Optimisation de l'activité cardiaque</h4>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="contact-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <div class="section-heading">
          <h2>Contactez-nous pour toute question concernant votre suivi cardiaque</h2>
          <p>Si vous avez des questions ou des préoccupations concernant votre santé cardiaque ou l'utilisation de notre plateforme, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.</p>
          <div class="phone-info">
            <h4>Pour toute demande, appelez-nous : <span><i class="bi bi-telephone"></i> <a href="#">010-020-0340</a></span></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-6">
              <fieldset>
                <input type="name" name="name" id="name" placeholder="Prénom" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <input type="surname" name="surname" id="surname" placeholder="Nom" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Votre Email" required="">
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-button ">Envoyer le message</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


